# import key
- name: import key
  shell: rpm --import https://artifacts.elastic.co/GPG-KEY-elasticsearch

- set_fact: version_package ="{{elasticsearch_meta[elasticsearch_version].yum_name}}"

- name: Setting source
  template:
    src: elasticsearch.repo
    dest: /etc/yum.repos.d/elasticsearch.repo

- name: install elasticsearch
  shell: yum install elasticsearch-{{elasticsearch_meta[elasticsearch_version].yum_pkg_name_redhat}} -y